//  Style

.row>*{
    margin: 0 !important;
    padding: 0 !important;
}

// header

.header{
    background-color: #C4170C;
    height: 14vh;
}

.list-header{
    list-style: none;
    margin-bottom: 0 !important;
}

.header a{
    text-decoration: none;
    color: white;
    font-size: 12pt;
}

.btn-search{
    width: 40px;
    height: 40px;
    padding-left: 8px !important;
    padding-right: 8px !important;

}

.list-header li{
    margin-right: 16px !important;
}

// content

.content{
    min-height: 76vh;
}

.new{
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
}

.title-new{
    color: #f32719;
    font-size: 28pt;
    font-weight: bold;
}

.subtitle-new{
    color: white;
    font-size: 16pt;
    font-weight: bold;
}

.ad{
    overflow: hidden;
    border-radius: 16px;
    height: 196px;
}

.new-grid a img{
    border-radius: 16px;
}

.new-grid .row a{
    color: #C4170C;
    font-size: 24pt;
    font-weight: bold;
}

.ads img{
    border-radius: 16px;
}

.form-create-new{
    padding-left: 256px !important;
    padding-right: 256px !important;
}

.form-create-new label{
    font-weight: bold;
    margin-bottom: 8px !important;
}

.form-create-new input{
    margin-bottom: 8px !important;
}

.img-notice {
    width: 75%;
    height: 280px;
    overflow: hidden;
    border-radius: 16px;
}

.overflow-ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.thumb-new{
    width: 256px; 
    height: 196px; 
    overflow: hidden; 
    border-radius: 16px;
}

.themes input{
    margin-left: 16px !important;
}

.card-body{
    height: 132px;
}

.card-header{
    height: 164px;
    overflow: hidden;
}

.info-notice span{
    font-weight: bold;
}

// footer

.footer{
    background-color: black;
    height: 10vh;
}

//  padding

.p-0{
    padding: 0 !important;
}

.pLR-0{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.pB-8{
    padding-bottom: 8px !important;
}

.pB-16{
    padding-bottom: 16px !important;
}

.pB-32{
    padding-bottom: 32px !important;
}

.pB-64{
    padding-bottom: 64px !important;
}

.pT-32{
    padding-top: 32px !important;
}

.pL-16{
    padding-left: 16px !important;
}

.pL-32{
    padding-left: 32px !important;
}

.pR-32{
    padding-right: 32px !important;
}


//  Margin


.m-0{
    margin: 0 !important;
}

.mLR-0{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.mR-16{
    margin-right: 16px !important;
}

.mR-32{
    margin-right: 32px !important;
}

.mB-16{
    margin-bottom: 16px !important;
}

.mB-32{
    margin-bottom: 32px !important;
}

.mB-64{
    margin-bottom: 64px !important;
}

.mT-16{
    margin-top: 16px !important;
}

.mL-8{
    margin-left: 8px !important;
}

.mL-16{
    margin-left: 16px !important;
}

.mR-8{
    margin-right: 8px !important;
}


