// header

.header{
    background-color: #C4170C;
    height: 14vh;
}

.list-header{
    list-style: none;
    margin-bottom: 0 !important;
}

.header a{
    text-decoration: none;
    color: white;
    font-size: 12pt;
}

.btn-search{
    width: 40px;
    height: 40px;
    padding-left: 8px !important;
    padding-right: 8px !important;

}

.list-header li{
    margin-right: 16px !important;
}

// content

.content{
    min-height: 76vh;
}

.new{
    height: 400px;
    border: 1px solid;
    background-image: url('/img/sei_nao.png');
    background-size: auto;
    background-position: center;
    border-radius: 16px;
}

.title-new{
    color: #C4170C;
    color: white;
    font-size: 28pt;
    font-weight: bold;
    
}

// footer

.footer{
    background-color: black;
    height: 10vh;
}

//  padding

.padding-0{
    padding: 0 !important;
}

.paddingLR-0{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

//  Margin

.mR-16{
    margin-right: 16px !important;
}
